</section>

<section id="third" >
<div class="container" id ="aboutus">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
           <img src="/images/phone.png" class="img-responsive">
        </div>
        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
            <h1 class="section-header">FitSquare, the App</h1>
            <p class="section-description">A sleek, easy to use interface displays all your live data  including your resting, live and peak heart rates, breaths per minute,calories burnt and steps taken. It even measures your Push score- the intensity you put into every excerise.<br><br>
            Having all this data visible as you exercise allows you to see your progress, respond instantly and get more out of every worlout.</p>
            <ul style="margin-top:20px;list-style-type:none;">
                <li ><button href="#download" class="download-button" >Download</button><br><br></li>
                <li ><button href="#download" class="find-out-button">Find Out More</button></li>
            </ul>
            
            
        </div>
        
        
    </div>
</div>
</section>
