<section class="newsletter mt-6 row" id="newsletter" ng-controller="CallbackController">
	<div style="row">
		<center>
		<h1>Request a <span class="red-text">Free Call Back</span></h1>
		</center>
	</div>
	<div class="row container">
		<h6>
		<center>
			<span class="red-text">Still Confused?</span> Try providing us with your requirements over a phone call for free. We house a powerful requirement analyzer that will help us understand your objectives better.
		</center>
		</h6>
	</div>
	<form name="newsletter">
		<div class="col l8 offset-l2 s12 m10 offset-m1">
			<div class="row container" style="margin-top:100px">
				<div class="col l12 s12">
					<div class="row">
						<div class="col l6 s12">
							<input type="email" class="newsletter-input validate" placeholder="  &nbsp;&nbsp;Email *" ng-model="user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >
						</div>
						<div class="col l6 s12">
							<input type="text" class="newsletter-input validate" placeholder="  &nbsp;&nbsp;Phone +1 (844)-311-2532 *" ng-model="user.phone" ng-pattern="/^\+[0-9]{1,2}[0-9]{10}$/" required>
						</div>
					</div>
					<div class="row" style="margin-top:50px;">
						<button class="btn newsletter-btn {{btnClass}}" style="width:100%" ng-disabled="newsletter.$invalid || disabled" ng-click="subscribe()">{{btnMesg}}</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
<!--Newsletter Secton Ends-->
