<section id="third" >

<div class="login-home-back">
</div>

<div class="login-home-pattern">
  <p style="text-align:center;color:white;margin-top:150px;">
    <!--img src="/images/logo.png" style="height:50px;"><br><br-->
    <span class="user-name element-login" style="letter-spacing:5px;font-size:25px;"></span>
  </p>
</div>

<div class="login-home">

</div>

<div class="row login-wrap">
  <div class="col l3 m12 s12">
    <p style="opacity:0;">Login</p>
  </div>
  <div class="col l6 m12 s12">
    <form action="/login/authenticate" method="POST">
      <div class="input-field col s12">
        <input type="text" name="email" id="email" placeholder="    Your E - Mail here *">
      </div>
       <div class="input-field col s12">
        <input type="text" name="email" id="email" placeholder="    Your Name here *">
      </div>
       <div class="input-field col s12 ">
        <input type="text" name="email" id="email" placeholder="    Your Message here *">
      </div>

      <div class="input-field col s12">
        <p style="text-align:center"><input type="submit" class="btn btn-submit" value="Log In"></p>
      </div>
    </form>
  </div>
  <div class="col l3 m12 s12">
    <p style="opacity:0;">Login</p>
  </div>
</div>
</section>
