<!DOCTYPE html>
<html ng-app="fitsquare" class="tr-coretext tr-aa-subpixel">
  <head>
    <title>Fitsquare | Let's make health a trend.</title>
  <!--Favicon-->
    <link rel="icon" href="../../../images/fitsquare-icon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <!--Font-->
    <!--STYLES-->
    <link rel="stylesheet" href="../../../min/production.min.css">
    <!--Google Plus-->
<style type="text/css">
body {
  overflow-x: hidden;
}
</style>
  </head>

  <body>
    <%- partial ('./static/navbar.ejs') %>
    <%- body %>
    <%- partial ('./static/footer.ejs') %>
    <!--SCRIPTS-->
    <script src="min/production.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
