<script src="production.min.js"></script>
<section id="hero-careers" style="background-image: url(assets/images/careers.jpg);">

    <div class="overlay">
        <div class="container" >
            <div class="row">
                <div class="careers-top col l12 m12 s12 ">

                    <img class="responsive-img large-icon" src="./assets/images/fitsquare-icon-white.png" />
                    <h3 class="pl34 mt35">More than making copies<br> & getting coffee</h3>

                </div>
            </div>
            <h2 class="section-header tac mtop3">Who Are We</h2>
            <div class="col s12 l12 m12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i class="fa fa-2x fa-key"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Problem Solvers</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Problem Solvers, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis
                                    porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                                    vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois
                                    paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss
                                    quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i class="fa fa-2x fa-code"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Technology Geeks</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining essentially
                                    unchanged.
                                </p>


                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i class="fa fa-2x fa-paint-brush"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Design</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining essentially
                                    unchanged.
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i class="fa fa-2x fa-pie-chart"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Entrepreneur at Heart</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimen book. It has survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining essentially
                                    unchanged.
                                </p>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="careers-contact tac">
            <div class="row">
                <!--<div class="careers-top col l12 m12 s12 ">

                    <img class="responsive-img large-icon-2" src="./assets/images/logo.png">
                    <h3 class="pl34 color-purple ">CAREERS</h3>

                </div> -->
            </div>
            <h6>Got something to offer?<br>Drop us a mail at <a href="mailto:careers@fitsquare.in" target="_top"><span class="color-purple">careers@fitsquare.com</span></a>                and we will be happy to check it out.
                <br><br>
                <span class="red-color">FitSquare &copy; 2016.</span> All Rights Reserved. Guidelines and Privacy.</h6>

        </div>
    </div>

</section>