<nav role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="#" class="brand-logo">
    <img class="nav-logo" src="images/logo.png"></a>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <img src="images/logo.png" style="width:40px;height:40px;">
    </a>
    <div class="row" id="bs-example-navbar-collapse-1">
      <div class="col l11 offset-l1 s8">
        <ul class="hide-on-med-and-down tabs">
          <li class="tab" data-link="/#home"><a href="#">Home</a></li>
          <li class="tab" data-link="/#aboutus"><a href="#">About Us</a></li>
          <li class="tab" data-link="/contact"><a href="#">Contact Us</a></li>
          <li class="tab" data-link="/login"><a href="#">Login</a></li>

        </ul>
      </div>
    </div>
    <ul id="nav-mobile" class="side-nav">
      <li class="col s12 tab" data-link="/#home"><a href="#">Home</a></li>
      <li class="col s12 tab" data-link="/#aboutus"><a href="#">About Us</a></li>
      <li class="col s12 tab" data-link="/contact"><a href="#">Contact Us</a></li>
      <li class="col s12 tab" data-link="/login"><a href="#">Login</a></li>
    </ul>
  </div>
</nav>
