<div class="custom-container"><section id="first" style="background-color: rgba(0,0,0,0.4)">
<div style="position: absolute;top: 0px;width: 100%;height: 500px;">


  <div class="container">

      <div class="hero">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1 id="section-header" class="section-header">Explore the fitness havens nearby.

          </h1>



       <div class="row">
    
        

    <div class=" col s12">
        <div class="nav-wrapper" >
            <br>
            <br>
            <br>
            <br>
            <!--<form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>-->
              <input id="searchterm" class="locality-search" placeholder="enter locality, landmark, fitness options or center names"/>
              <!-- enter locality, landmark, fitness options or center names -->
        <div>
            <ul id="results">
                 <li class="label ttupper">Suggested Searches</li> 
                <li class = "item">
                  <div  class="start-step-label">
                      Body Structure Fitness Gym 
                     </div>
                </li>
            </ul>
        </div>





        <div class="search-gyms-btn">
        <i class="material-icons">search</i>Search
        </div>
        </div>
      
        <!--<div class="search-gyms-btn">
        <i class="material-icons">search</i>
        </div> -->
    </div>
    <!--<div class=" col s6">
        <input id="search-gyms" class="search-gyms" placeholder="Search for gyms, amenities or fitness"/>
        <div>
            <ul id="search-results">
                <!-- <li class="label ttupper">Suggested Searches</li> -->
                <!-- <li class = "item">
                  <div  class="start-step-label">
                      Body Structure Fitness Gym  </div>
                </li> 
            </ul>
        </div>
    </div>
    <div class="search-gyms-btn">
        <i class="material-icons">search</i>
    </div>-->
</div>
      </div>
     
  </div>
</div>
</section>


<section id="second" class="grey-box" style="background-color:white">
    <div class="container cities-container">
        <div class="container">
            <div class="row our-presence">
                <h4 style="border-bottom: 4px solid rgb(226, 48, 121); width: 2%; display:inline"><b>We curate whats best for you!</b></h4>
                 <br>
                 <br>
                <h5 style="text-align:center">Browse thorugh hundreds of centers and services by <br> activities that interest you. </h5>
                <br>
                 <br>
                
                <div class="container" style="margin-left:12%">

                    <div class="col s12 m2">
                        <div> <img src="./assets/images/gym1.png" class="responsive-img lazy"/></div>
                    </div>
                    <div class="col s12 m2">
                        <div> <img src="./assets/images/yoga.png" class="responsive-img lazy"/></div>
                    </div>
                    <div class="col s12 m2">
                        <div> <img src="./assets/images/zumba.png" class="responsive-img lazy"/></div>
                    </div>
                    <div class="col s12 m2">
                        <div> <img src="./assets/images/aerobics.png" class="responsive-img lazy"/></div>
                    </div>
                    <div class="col s12 m2">
                        <div> <img src="./assets/images/dance.png" class="responsive-img lazy"/></div>
                    </div>
                    
                </div>
                <hr>
                
                <div>
                </div>
            </div>
        </div>
    </div>
</section>






    <section id="second" class="grey-box" style="background-color:white">
    <div class="container cities-container">
    
       
        <div class="row">
      <div class="col s1" style="margin-top: 300px;"> <img src="./assets/images/icon_0010__Group_.png" class="responsive-img lazy" style="height:200px; width:200px" /></div>
      <div class="col s10"> <div class="row our-presence">
            
            <h4 class="cities-header" style="border-bottom: 4px solid rgb(226, 48, 121); width:20%; display:inline"><b>Our Presence</b></h4>
            <br>
            <br>
            <h5>We cover 6 cities currently and list <b>896+</b> fitness centers and pathlabs</h5>
            <br>
    
            <div class="row" style="margin-left:8%">
                <div class="col s10.5 l3.5 m3.5">
                    <div id="cities-1" class="cities">
                        <img src="./assets/images/cities/city-7.jpg" class="responsive-img lazy" style="height:155px; width:240px;    -webkit-filter: brightness(89%); "  />
                        <h5 class="city-name"><span class="white-text">Mumbai</span></h5>
                        <!--<div id="city-details-1" class="city-details">
                          <div>
                            <img src ="./assets/images/icons/gym-icon.png"  class="img-gym">
                              <div class="img-gym-text">124</div>
                          </div>
                          <div>
                            <img src ="./assets/images/icons/path-icon.png"  class="img-path">
                              <div class="img-path-text">14</div>
                          </div>
                        </div> -->
                    </div>
                </div>
                <div class="col s10.5 l3.5 m3.5">
                    <div id="cities-2" class="cities">
                        <img src="./assets/images/cities/city-8.jpg" class="responsive-img lazy" style="height:155px; width:240px;    -webkit-filter: brightness(89%); "  />
                        <h5 class="city-name"><span class="white-text">New Delhi</span></h5>
                        <!--<div id="city-details-1" class="city-details">
                          <div>
                            <img src ="./assets/images/icons/gym-icon.png"  class="img-gym">
                              <div class="img-gym-text">124</div>
                          </div>
                          <div>
                            <img src ="./assets/images/icons/path-icon.png"  class="img-path">
                              <div class="img-path-text">14</div>
                          </div>
                        </div> -->
                    </div>
                </div>
                <div class="col s10.5 l3.5 m3.5">
                    <div id="cities-3" class="cities">
                        <img src="./assets/images/cities/chennai.jpg" class="responsive-img lazy" style="height:155px; width:240px;    -webkit-filter: brightness(89%); " >
                        <h5 class="city-name"><span class="white-text">Chennai</span></h5>
                        <!--<div id="city-details-1" class="city-details">
                          <div>
                            <img src ="./assets/images/icons/gym-icon.png"  class="img-gym">
                              <div class="img-gym-text">124</div>
                          </div>
                          <div>
                            <img src ="./assets/images/icons/path-icon.png"  class="img-path">
                              <div class="img-path-text">14</div>
                          </div>
                        </div> -->
                    </div>
                </div>


            </div>
            <div class="row" style="margin-top:25px;margin-left:8%">
                <div class="col s10.5 l3.5 m3.5">
                    <div id="cities-1" class="cities">
                        <img src="./assets/images/cities/city-1.jpg" class="responsive-img lazy" style="height:155px; width:240px;    -webkit-filter: brightness(89%); "  />
                        <h5 class="city-name"><span class="white-text">Kolkata</span></h5>
                        <!--<div id="city-details-1" class="city-details">
                          <div>
                            <img src ="./assets/images/icons/gym-icon.png"  class="img-gym">
                              <div class="img-gym-text">124</div>
                          </div>
                          <div>
                            <img src ="./assets/images/icons/path-icon.png"  class="img-path">
                              <div class="img-path-text">14</div>
                          </div>
                        </div> -->
                    </div>
                </div>
                <div class="col s10.5 l3.5 m3.5">
                    <div id="cities-2" class="cities">
                        <img src="./assets/images/cities/city-2.jpg" class="responsive-img lazy" style="height:155px; width:240px;    -webkit-filter: brightness(89%); "  />
                        <h5 class="city-name"><span class="white-text">Pune</span></h5>
                        <!--<div id="city-details-1" class="city-details">
                          <div>
                            <img src ="./assets/images/icons/gym-icon.png"  class="img-gym">
                              <div class="img-gym-text">124</div>
                          </div>
                          <div>
                            <img src ="./assets/images/icons/path-icon.png"  class="img-path">
                              <div class="img-path-text">14</div>
                          </div>
                        </div> -->
                    </div>
                </div>
                <div class="col s10.5 l3.5 m3.5">
                    <div id="cities-3" class="cities">
                       <img src="./assets/images/cities/city-3.jpg" class="responsive-img lazy" style="height:155px; width:240px;    -webkit-filter: brightness(89%); "  />
                        <h5 class="city-name"><span class="white-text">Bengaluru</span></h5>
                       
                    </div>
                </div>
            </div>
          <div>
        </div>
      </div></div>
      <div class="col s1" style="margin-bottom: 400px;" > <img src="./assets/images/icon_0011__Group_.png" class="responsive-img lazy" style="height:200px" /></div>
    </div>
   
       
    
     </div>
    </section>






<!-- to be finished -->
<!--<section id="marker" style="background-color:white;margin-left:8%">
    <div class="container cities-container">
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="container">
                        <div class="list-business">
                            <div class="row">
                                <div class="col s12 l2 m4">
                                    <img src="./assets/images/location-marker.png" class="responsive-img location-marker" width="110px" height="120px">
                                </div>
                                <div class="col s12 l6 m6 know-more-description" style="display:block">
                                    <h5>List Your Business</h5>
                                    <p>Make Your Online Presence in <b>Fitsquare</b></p>


                                </div>
                                <div class="col s12 l2 m4 know-more-description">

                                    <button href="#downlobutton" class="download-button-2 purple-3 center-block" style="margin-top:20px;">Know More</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section>
<div id="marker">
    <div>
        <div class="row">
            <div class="col s2 push-s3">
                <img src="./assets/images/location-marker.png" class="responsive-img location-marker" />
            </div>
            <!--<div class="col s8 l6 m6 know-more-description" style="display:block">
                                    <h5>List Your Business</h5>
                                    <p>Make Your Online Presence in <b>Fitsquare</b></p>


                                </div> -->
            <div class="col s8 push-s3" style="display:block">
                <h5>List Your Business</h5>
                <p>Make Your Online Presence in <b>Fitsquare</b></p>


            </div>
            <div class="col s2 pull-s2">
                <button href="#downlobutton" class="download-button-2 purple-3 center-block">Know More</button>
            </div>

        </div>

    </div>


</div>
</section>









<section id="third" >
<div class="container">
    <div class="row">
        <div class="col s12 l6 m12 wow fadeInLeft" data-wow-duration="1s" >
           <img src="./assets/images/phone.png" style="max-width:75%;margin-left: 50px;" class="responsive-img">
        </div>
        <div class="col s12 l6 m12 wow fadeInRight" style="margin-left: -55px;!important">
            <h1 class="section-header">The App - Our Champion</h1>
            <p class="section-description">A sleek, easy to use interface displays all your live data  including your resting, live and peak heart rates, breaths per minute,calories burnt and steps taken. It even measures your Push score- the intensity you put into every excerise.<br><br>
            Having all this data visible as you exercise allows you to see your progress, respond instantly and get more out of every workout.</p>
             <div class="row">
                <div class="col s4 pull-s3">
                    <button href="#downlobuttond" class="download-button-3 white-3 center-block" style="margin-top:20px;margin-left:137px;"><p class="section-description">Download</p></button>
                </div>
                <div class="col s4 pull-s1">
                    <button href="#downlobutton" class="download-button-3 white-3 center-block" style="margin-top:20px;"><p class="section-description">Find Out More</p></button>
                </div>
            </div>
            <br>
            
        </div>
    </div>
</div>

</section>
<section id="fourth" class=" grey-box">
<div class="container">
    <div class="row">
        <div class="col s12 l6 m12">
            <ul   class="features-tab" style="margin-left:50px;">
                <li id ="features" class="wow slideInUp  animated"  data-wow-duration="1s" >
                <div class="features">
                    <img class="feature-icons lazy" src="./assets/images/img3.png">
                    <div id="features-description" class="features-description ">
                        <h5 class="card-title greyish">Custom Workout Plans</h5><p>Our fully customized high-intensity workouts boost your metabolism. Receive workouts adapted to your personal goals</p>
                    </div>
                </div>
                </li>
                <li id ="features" class="wow slideInUp  animated"  data-wow-duration="1s" >
                <div class="features">
                    <img class="feature-icons lazy" src="./assets/images/img4.png">
                    <div id="features-description" class="features-description ">
                        <h5 class="card-title greyish">Meal Plans that Work</h5><p>Studies prove that our high protein diet significantly improves energy levels and fat loss.</p>
                    </div>
                </div>
                </li>
                <li id ="features" class="wow slideInUp  animated"  data-wow-duration="1s" >
                <div class="features">
                    <img class="feature-icons lazy" src="./assets/images/img2.png">
                    <div id="features-description" class="features-description ">
                        <h5 class="card-title greyish">One on One Coaching</h5><p>We have friendly personal trainers that answer your fitness questions.</p>
                    </div>
                </div>
                </li>
                <li id ="features" class="wow slideInUp  animated" data-wow-duration="1s" >
                <div class="features">
                    <img class="feature-icons lazy" src="./assets/images/img1.png">
                    <div id="features-description" class="features-description ">
                        <h5 class="card-title greyish">Track Your Progress</h5><p >Our progress tracking will keep you on the right track and keep you motivated  to keep working out</p>
                    </div>
                </div>
                </li>
            </ul>
        </div>
        <div class="col s12 l6 m12">
            
            <img src="./assets/images/phone-second.png" class="responsive-img lazy" style="width:80%;margin-top:43px;">
            <div class="row">
                <div class="col s4 pull-s3">
                    <button href="#downlobuttond" class="download-button purple-2 center-block" style="margin-top:20px;margin-left:137px;">Download</button>
                </div>
                <div class="col s4 pull-s2">
                    <button href="#downlobuttond" class="download-button purple-2 center-block" style="margin-top:20px;margin-left:137px;">Find Out More</button>
                </div>
           </div>
        </div>
    </div>
</div>
</section></div>