
<footer id= "fifth">
  
      <div class="container">
          <div class="row">
              <div class="footer">
                  <div class="col-sm-3" >
                    <div class="footer-col" style="display:inline">
                        <img src="/assets/images/logo_footer.png" style="height:110px" class="reponsive-img"/>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="footer-col">

                        <div class="footer-col-content">
                            <ul>
                                <!--<li><a [routerLink]="['/Aboutus11']">About Us spa</a></li> -->
                                <li><a href="/aboutus">About Us</a></li> 
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Media Kit</a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="footer-col">
                          <div class="footer-col-content">
                              <ul>
                                  <li><a href="#" onClick="return false;">Privacy Policy</a></li>
                                  <li><a href="#">Terms & Conditions</a></li>
                                  <li><a href="#">Support</a></li>
                                  <li><a href="#">Feedback</a></li>
                                  </ul>
                          </div>
                      </div>


                    </div>
                    <div class="col-sm-3">
                      <div class="footer-col">
                          <div class="footer-col-content">
                              <ul>
                                  <li><a href="/careers">Careers</a></li>
                                  <li><a href="#">Vision</a></li>
                                  <li><a href="#">Blog</a></li>
                                  <li><a href="#">Sitemap</a></li>
                                  </ul>
                          </div>
                      </div>

                    </div>
                    <br>
                    <hr>
                          <address>
                                <div class="container">
                                    <h5>Join Us on</h5>
                                    <br>
                                        <div class="row">
                                            <div class="col s2"><a href="#">Facebook</a></div>
                                            <div class="col s2"><a href="#">Google+</a></div>
                                            <div class="col s2"><a href="#">Twitter</a></div>
                                            <div class="col s2"><a href="#">LinkedIn</a></div>
                                            <div class="col s2"><a href="#">YouTube</a></div>
                                            <div class="col s2"><a href="#">Pinterest</a></div>
                                        </div>
                                </div>
                        </address>
                  </div>
                </div>
              </div>
        

  </footer>

