<!--<nav>
    <div class="nav-wrapper">
        <div class="row">
            <div class="col-md-3">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <a href="#" class="brand-logo">
                        <img class="nav-logo responsive-img" src="./assets/images/logo.png" height="29px" width="183px">
                    </a>
                </ul>
            </div>

            <div class="col-md-2">
                <li><a href="#">New Delhi</a><i class="glyphicon glyphicon-chevron-down"></i></li>
               
            </div>
            <div class="col-md-1">
                <li><a href="sass.html">Explore</a></li>
            </div>
            <div class="col-md-6">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>

        </div>


    </div>
</nav> -->



<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="#">
                    <img src="./assets/images/logo.png" height="29px" width="183px" />
                </a>
            </li>
            <li><a href="#">New Delhi</a></li>
            <li><a href="#">Explore</a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="sass.html">Download the App</a></li>
         


            <li><a href="#" class="waves-light btn" style="border: 2px solid;border-radius: 14px;background-color: rgb(45, 45, 45);">SignUp/Login</a></li>
        </ul>


    </div>
</nav>